numpy<2.0.0
faster-whisper
nvidia-cublas-cu12
nvidia-cudnn-cu12
nvidia-curand-cu12
edge-tts
torch
ollama
redis
fastapi
uvicorn[standard]
python-multipart

# Google Calendar integration
google-api-python-client
google-auth
